   body
   
   .grid-estilo{
    display:grid;
    gap: 10px;

   }




    .caja{
    
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 10px;
    border: solid 5px grey;
    color: white;
    
    
    }

    .Menú{

    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    border: solid 2px gray;
    width: 45%;
    margin: 60px auto;
    border-radius: 10px;
   
    
    }

    .Menú li a{

    text-decoration: none;
    color: white;
    font-style: normal;
    

    }

    .Menú li a:hover{
   

   font-style: normal;
   text-decoration: none;
   display: block;

    }



    .Submenú{

        background-color: rgb(0, 0, 0);
        position: absolute;
        text-decoration: none;
        padding: 0%;
        border: solid 2px black;
        flex-flow: row wrap;
        display: none;
        border-radius: 5px;
    }
   
    .Menú Li:hover .Submenú{
        display: block;
        color: white; 
        justify-content: space-evenly;

    }
    
    .aside{
        
        text-align: center;
        list-style: none;
        background-color: rgb(22, 20, 20);
        border: solid 2px black;
        width: 15%;
        margin: 60px auto;
        border-radius: 40px;
    }

    .aside1{
        
        background-color:rgb(173, 161, 161);
        text-align:center;      
        width: 25%;
        display: block;
        
    }

    .aside2{
        
        display: block;
        background-color: rgb(173, 161, 161);
        text-align: center;
        width: 25%;

        
    }


    .subtitulo{
                    
        position: static;
        align-items: center;
        display: flex;
        flex-direction: column;
        bottom: 65%;
        left: 43%;
        text-align: center;
        
        }
        h4{
            justify-content: center;
            width: 45%;
        }






    .footer{

        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: center;
        border-radius: 10px;
        border: solid 5px gray;
        flex-direction: column;
        align-items: center;
        position: absolute;      
        bottom: 0%;   
        width: 100%;
        color: white;
    }


        
    
